{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Homepage{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>HomePage ✅</h1>
        <nav class="">
            <a href="{{ path('homepage') }}">Accueil</a> | <a href="{{ path('article') }}">Article 1</a> | <a href="{{ path('article',{'id':2}) }}">Article 2</a>
        </nav>

    </div>
{% endblock %}